.container {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 180rem;
  margin: auto;
  background-color: $color-light;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
