$color-secondary: #ff6b6b;
$color-primary: #4ecdc4;
$color-tertiary: #ffe66d;

$color-light: #f7fff7;

$color-dark: #1a535c;

$color-success: #4ecdc4;
$color-alert: #ff6b6b;

$hover-brightness: 5%;

$sidebar-size: 20rem;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
